.button a {
    display: inline-block;
    text-decoration:none;
    font-size:20px;
    padding:15px;
    color:#ffffff;
    background-color:#1A60BF;
    transition:all 1.0s 0s ease;
}
.button a:hover{
    color: #1A60BF;
    background-color:#D0E2FB;
}